.top {
    margin: -8px;
    background-color: black;
    color: white;
    font-family: "Inter";
    font-size: 12pt;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.links-header {
    color: white;
    text-decoration: none;
}

.ibmec {
    background-color: white;
    color: black;
    font-family: "Inter";
    font-size: 14pt;
    height: 127px;
    line-height: 127px;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
}

.logo {
    width: 180px;
    height: 94px;
    padding-left: 30px;
    padding-top: 10px;
}

.inscrevase {
    width: 154px;
    height: 46px;
    background-color: orange;
    font-family: "Open Sans";
    font-size: 14pt;
    font-weight: 500;
    border-radius: 6px;
    border-color: orange;
    border: none;
    margin-top: 40px;
    margin-left: 68%;
    box-shadow: none;
}

.inscrevase:hover {
    background-color: #ffe4a3;
}

.portifolio {
    height: 265px;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
    line-height: 160px;
    font-family: "Open Sans";
    background-color: #002555;
    color: white;
}

.titulo {
    font-size: 40pt;
    margin-top: 0;
    padding-left: 150px;
    margin-bottom: 0;
}

.legenda {
    padding-left: 150px;
    margin-top: -110px;
    padding-top: 0;
    font-size: 14pt;
}
